otelAgent:
  config:
    receivers: 
      jaeger:
        protocols:
          thrift_compact:
            endpoint: 0.0.0.0:6831
    service:
      pipelines:
        traces:
          exporters:
          - otlp
          - signalfx
          processors:
          - memory_limiter
          - k8s_tagger
          - batch
          - resource
          - resourcedetection
          receivers:
          - otlp
          - jaeger
          - smartagent/signalfx-forwarder
          - zipkin
otelCollector:
  config:
    exporters:
      jaeger:
        endpoint: "http://jaeger-gateway-address:14250"
        insecure: true 
    service:
      pipelines:
        traces:
          exporters:
          - sapm
          - jaeger
          processors:
          - memory_limiter
          - batch
          - k8s_tagger
          - resource/add_cluster_name
          - resource/add_environment
          receivers:
          - otlp
          - jaeger
          - zipkin